<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="astah.plugin.something2gsn.actionSet">
         <menu
               id="something2gsn"
               label="%menu_group"
               path="tool/something2gsn">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="astah.plugin.GenerateGSNFromDiagram"
               tooltip="%menu_tooltip"
               menubarPath="tool/something2gsn/"
               id="something2gsn">
         </action>
     </actionSet>
   </extension>
</plugin>
